body {
    background-image: url("https://picsum.photos/id/6/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#header, .nav a, #hero, #cta {
    color: white;
}

#header {
    background-color: #2c302e;
    height: 60px;
}
#hero {
    font-size: 22px;
}
#hero h1 {
    font-size: 80px;
}
#cta {
    background-color: #21a179;
}
#cta:hover {
    background-color: white;
    color: #21a179;
}

#services {
    background-color: rgb(140, 226, 166);
}
.card {
    background-color: white;
    width: fit-content;
}